* {
    padding: 0;
    margin: 0;
    color: white
}

.plinko {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1e2326;

}
.plinko-banner >div{
    width: 100%;
    position: relative;
    /* background-image: url("images/banner+steps+texts/banner.jpg") */

}
.banner {
    width: 100%;

 }

.fadeDiv {
    width: 100%;
    bottom: 0px;
    position: absolute;
 }
.fade{
    width: 100%;
    bottom: 0;
    position: relative;

}


.text1{
    position: absolute;
}














.plinko--main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("images/banner+steps+texts/bg.jpg");
}

#optin {
    margin: 40px;
    padding: 10px 50px;
    border-radius: 20px;
    background-color: green;
    color: black;
}

